---
import Layout from '@layouts/Default.astro';
const schema = {
	name: 'Foxbat Systems LLC',
	url: 'https://foxbatsystems.com',
	logo: 'https://foxbatsystems.com/images/logo-dark.svg',
	image: 'https://foxbatsystems.com/images/logo-dark.svg',
	telephone: '760-666-0656',
	address: {
		street: '802 E Richey Road',
		city: "Houston",
		state: 'TX',
		postalCode: "77073",
	}
};

let title = '404 - Page Not Found';
let description = '404 - Page not found at Foxbat Systems, your professionals providing quality services in Houston, TX.';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="404" href="/404">404</a></div>
		</div>
		<h1>Page Not Found | 404 Server Error</h1>
		<p>This page does not exist. You may have landed here
			due to an error. <a href="/">Click here</a>
			to go back to the home page and try again.</p>
	</div>
</section>
</Layout>