---
import Layout from '@layouts/Default.astro';
let title = 'Careers by Foxbat Systems | Employment Opportunities In Houston';
let description = 'Foxbat Systems, a Houston-based commercial solar solutions company, provides employment opportunities with current career postings.';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="Careers" href="/careers">Careers</a></div>
		</div>
		<h1 class="text-secondary">Careers</h1>
		<h2>Current Job Postings</h2>
		<picture>
			<source
				type="image/webp"
				srcset="/images/logo-white.webp"
			/>
			<img
				src="/images/logo-white.png"
				alt="Logo white"
				class="img-r-dynamic"
			/>
		</picture>

		<p>No Current Openings</p>
		<!--<h2>Foxbat Systems - <br />Vice President of Fundraising</h2>

<p>Job Posting: Vice President of Fundraising</p>
<p>Company: Foxbat Systems</p>
<p>Location: Remote, preferably around/in Houston, TX</p>
<p>Job Type: Full-time</p>
<p>Compensation: Commissioned, negotiable</p>
<hr />
<p>Foxbat Systems is a start-up commercial solar solutions company specializing in high-performance power and agrivoltaics solutions. With a commitment to sustainability and localizing energy for businesses and farms, we are seeking an experienced professional to join our team as the Vice President of Fundraising.</p>
<p>As the Vice President of Fundraising at Foxbat Systems, you will play a crucial role in securing the necessary financial resources to fuel our growth and enable us to continue revolutionizing the renewable energy sector. You will directly support the CEO and the Executive Team to develop and execute strategic fundraising initiatives.</p>

<h4>Responsibilities:</h4>

<ul>
<li>
<p>Develop and implement a comprehensive fundraising strategy to meet the organization's financial goals, ensuring alignment with the company's overall objectives.</p>
<li>
<p>Build and maintain relationships with high-net-worth individuals, institutional donors, venture capitalists, and strategic partners to secure funding opportunities.</p>
<li>
<p>Identify and pursue new fundraising channels, including grants, sponsorships, philanthropic foundations, and government funding programs.</p>
<li>
<p>Collaborate with the marketing and communications teams to create compelling fundraising campaigns, materials, and events to engage donors and enhance brand awareness.</p>
<li>
<p>Monitor and analyze fundraising performance metrics, providing regular reports.</p>
<li>
<p>Stay updated on industry trends and best practices in fundraising, incorporating innovative approaches to maximize fundraising efforts.</p>
<li>
<p>Represent Foxbat Systems at industry events, conferences, and networking opportunities to establish and expand the company's presence within the funding community.</p>
</ul>

<h4>Qualifications:</h4>

<ul>
<li>
<p>Proven track record of successfully raising significant funds from diverse sources in a leadership capacity.</p>
<li>
<p>Strong knowledge of the energy industry and a passion for technological innovation.</p>
<li>
<p>Exceptional interpersonal and communication skills, with the ability to build and nurture relationships with key stakeholders.</p>
<li>
<p>Strategic thinker with the ability to develop and execute comprehensive fundraising strategies.</p>
<li>
<p>Demonstrated leadership experience, with the ability to motivate and inspire a team towards achieving ambitious goals.</p>
<li>
<p>Ability to work collaboratively in a fast-paced, dynamic environment.</p>
<li>
<p>Strong analytical and financial acumen, with the ability to interpret data and make informed decisions.</p>
</ul>

<p>Join Foxbat Systems and be part of a pioneering organization that is reshaping the future of solar technology. As the Vice President of Fundraising, you will have the opportunity to make a significant impact on the company's growth and contribute to the realization of groundbreaking innovations. Apply now to be considered for this exciting and challenging role.</p>
<hr />
<div id="wufoo-qgh55mr1h7mkwq"> Fill out my <a href="https://infofootbridge.wufoo.com/forms/qgh55mr1h7mkwq">online form</a>. </div> <script type="text/javascript"> var qgh55mr1h7mkwq; (function(d, t) { var s = d.createElement(t), options = { 'userName':'infofootbridge', 'formHash':'qgh55mr1h7mkwq', 'autoResize':true, 'height':'696', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { qgh55mr1h7mkwq = new WufooForm(); qgh55mr1h7mkwq.initialize(options); qgh55mr1h7mkwq.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>-->
	</div>
</section>
</Layout>