---
import Layout from '@layouts/Default.astro';
let title = 'Our Solutions | Why Foxbat Systems Provides Modular Solar Solutions';
let description = 'Foxbat Systems is here to address the major issues';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="Our Solutions" href="/our-solutions">Our Solutions</a></div>
		</div>
		<h1 class="text-secondary">Affordable & Sustainable</h1>
		<picture>
			<source
				type="image/webp"
				srcset="/images/service/our-solutions.webp"
			/>
			<img
				src="/images/service/our-solutions.jpg"
				alt="Our solutions"
				class="img-r-dynamic"
			/>
		</picture>
		<h2>Our Benefits</h2>
		<ul class="grid grid-xxl-2">
			<ul>
				<li>Future-proof, modular architecture</li>
				<li>High-power generation</li>
				<li>Flight-proven technologies</li>
				<li>Enhanced energy capture</li>
				<li>High-efficiency performance</li>
				<li>Flexible user defined applications</li>
				<li>Decentralized and eco-friendly</li>
				<li>Creative, flexible, and sustainable designs</li>
			</ul>
		</ul>
		<h2>Product Development</h2>
		<h3>Testing</h3>
		<p>
			On June 25th, our optical filtration system
			consistently tested above-market efficiency, and
			is scheduled to achieve even higher efficiencies
			in the near future through the implementation of
			newer photovoltaic cell chemistries. We are
			actively testing the modules and accompanying
			systems for space-grade deployment and
			performance.
		</p>
	</div>
</section>
</Layout>