---
import Layout from '@layouts/Default.astro';
let title = 'The Impact Of Foxbat Systems | Improving Businesses With Solar In Houston';
let description = 'Foxbat Systems\'s mission is to create sustainable, local energy webs that empower businesses to produce their own energy.';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="Our Impact" href="/our-impact">Our Impact</a></div>
		</div>
		<h1 class="text-secondary">Our Impact</h1>
		<picture>
			<source
				type="image/webp"
				srcset="/images/logo-white.webp"
			/>
			<img
				src="/images/logo-white.png"
				alt="Logo white"
				class="img-r-dynamic"
			/>
		</picture>

		<h2>Mission Statement</h2>
		<p>
			Our mission is to help space systems, farms, and
			businesses become energy independent and
			reliably sustainable.
			<!--Our mission is to help businesses, farms, and space systems become energy independent and reliably sustainable.-->
		</p>
		<h2>Vision Statement</h2>
		<p>
			Our vision is to create decentralized
			sustainable energy webs that empower space
			systems, farms, and businesses.
			<!--Our vision is to create decentralized sustainable energy webs that empower businesses, farms, and space systems.-->
		</p>
		<h2>Humanity Statement</h2>
		<p>
			We are committed to engineering future-proof,
			eco-friendly technology that will empower
			humanity to create multi-generational energy
			independence with <a href="/">solar solutions</a
			>.
		</p>
		<h2>Brief Company History</h2>
		<p>
			Foxbat Systems was founded in 2022 by Khoa Vu.
			We are a young company, with big dreams, and
			higher purpose: to fundamentally redefine power
			generation in space, and on Earth, through
			modular solutions for a decentralized,
			sustainable future. Simply put, our company is
			the dreamchild of our founder's life mission to
			change energy management on an interstellar
			scale.
			<!--Foxbat Systems was founded in 2022 by Khoa Vu. While still a young company, our dreams are big, and our purpose is clear:<strong> to change energy management in Texas and pave a path forward to global decentralized energy. </strong>Simply put, our company is the dreamchild of <a href="/our-founder">our founder</a>'s life mission to change energy management.-->
		</p>
		<h2>
			How Our Technology Is Impacting Businesses,
			Farms, And More
		</h2>
		<p>
			Our solutions are impacting <em
				>businesses
			</em>by 5 major ways:
		</p>
		<ol>
			<li>
				Saving them money on their monthly
				electricity bills
			</li>
			<li>Generating high-power efficiency</li>
			<li>
				Engineering future-proof technology that is
				easily upgradable over time
			</li>
			<li>
				Providing sustainable, long-term solutions
			</li>
			<li>
				Helping them profit off of their own created
				energy
			</li>
		</ol>
		<p>
			Our solutions are impacting <em>farms </em>by 5
			major ways:
		</p>
		<ol>
			<li>
				Generating high-power efficiency with less
				square footage
			</li>
			<li>
				Engineering future-proof technology that is
				easily upgradable over time
			</li>
			<li>
				Providing sustainable, long-term solutions
			</li>
			<li>
				Helping them profit off of their own created
				energy
			</li>
			<li>
				Optimizing their land for agrivoltaics and
				multi-usage
			</li>
		</ol>
	</div>
</section>
</Layout>