---
import Layout from '@layouts/Default.astro';
let title = 'Our Solutions | Why Foxbat Systems Provides Modular Solar Solutions';
let description = 'Foxbat Systems is here to address the major issues';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="Our Solutions" href="/our-solutions">Our Solutions</a></div>
		</div>
		<h1 class="text-secondary">Modular, Sustainable, And Future-Proof</h1>
		<picture>
			<source
				type="image/webp"
				srcset="/images/service/our-solutions.webp"
			/>
			<img
				src="/images/service/our-solutions.jpg"
				alt="Our solutions"
				class="img-r-dynamic"
			/>
		</picture>
		<!--<h2>Why The Grid Has Failed</h2>
<ul class="grid grid-xxl-2">
<li>Lack of Modernization</li>
<li>Aging Infrastructure</li>
<li>Unreliable Response Time</li>
<li>Centralized Control</li>
<li>Lack of Consumer Choice</li>
<li>Limited Access to Renewables</li>
<li>Limited Storage Capacity</li>
<li>Lack of Transparency</li>
<li>Unpredictable Pricing</li>
</ul>-->
		<h2>Our Benefits</h2>
		<ul class="grid grid-xxl-2">
			<ul>
				<li>Future-proof, modular architecture</li>
				<li>High-power generation</li>
				<li>Flight-proven technologies</li>
				<li>Enhanced energy capture</li>
				<li>High-efficiency performance</li>
				<li>Flexible user defined applications</li>
				<li>Decentralized and eco-friendly</li>
				<li>
					Creative, flexible, and sustainable
					designs
				</li>
			</ul>
			<!--<li>High-Power Generation &amp; Efficiency</li>
<li>Future-Proof</li>
<li>Sustainable</li>
<li>Localized &amp; Decentralized</li>
<li>Cost Savings &amp; Profits</li>
<li>Eco-Friendly</li>-->
		</ul>
		<h2>Product Development</h2>
		<h3>Testing</h3>
		<p>
			On June 25th, our optical filtration system
			consistently tested above-market efficiency, and
			is scheduled to achieve even higher efficiencies
			in the near future through the implementation of
			newer photovoltaic cell chemistries. We are
			actively testing the modules and accompanying
			systems for space-grade deployment and
			performance.
			<!--Our Modular Solar Filter system has consistently tested above-market efficiency and is scheduled to achieve even higher efficiency in the near future through the implementation of newer photovoltaic cell chemistries.-->
		</p>
		<!--<h3>Calculations</h3>
<p>
Our pricing methodology is consumer-centric, which is why we charge businesses by the estimated peak power production (kWh assuming 1,000 W/sqm). <strong>We do this because we know businesses best optimize their dollars by production hours, as opposed to a standard rate.</strong>
</p>
<h3>Pilot Projects</h3>
<p>
Our <a href="/">solar solutions</a> pilot projects are currently in development for Houston and Plano. In Houston, we will be powering a major architecture firm, and in Plano, we will be employing our agrivoltaics solution to power farmland acreage. 
</p>-->
	</div>
</section>
</Layout>