---
import Layout from '@layouts/Default.astro';
let title = 'About Khoa Vu - Founder Of Foxbat Systems';
let description = 'Khoa\'s vision for Foxbat Systems is that we will enable businesses to become energy independent from the Grid. Learn more about Foxbat Systems now.';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="Our Founder" href="/our-founder">Our Founder</a></div>
		</div>
		<h1 class="text-secondary">About Khoa Vu - Founder Of Foxbat Systems</h1>
		<picture>
			<source
				type="image/webp"
				srcset="/images/khoa-foxbat-founder.webp"
			/>
			<img
				src="/images/khoa-foxbat-founder.jpg"
				alt="Khoa foxbat founder"
				class="img-r-dynamic"
			/>
		</picture>

		<h2>Khoa Vu's Background &amp; Story</h2>
		<p>
			Our founder, Khoa Vu, is a former Mechanical
			Engineer, who worked on the development of space
			suits for NASA astronauts. Originally from the
			San Diego area, Khoa is a proud alumnus of the
			University of San Diego, where he majored in
			Mechanical Engineering.
		</p>
		<p>
			While a student at the University of San Diego,
			Khoa studied how Americans consume energy and
			electricity and discovered that the current way
			of 'doing energy' is inefficient, expensive, and
			outdated. After discovering that the American
			Energy Grid is broken, Khoa began postulating
			alternatives to its many problems, in an effort
			to make energy decentralized, easily accessible,
			shareable, and more efficient. He also realized
			that energy generated in space could be greatly
			improved.
		</p>
		<p>
			<!--<strong>Our company, Foxbat Systems, is currently a startup in the Greater Houston area and is dedicated to decentralizing solar energy so that businesses will be in total control of their energy management.</strong>-->
			Our company, Foxbat Systems, is currently a startup
			in Houston and is dedicated to decentralizing solar
			energy so that space systems, farms, and businesses
			will be in total control of their energy management.
			Khoa originally used the name 'Foxbat' when he launched
			a drone-powered fire-fighting project a few years
			ago. Today, the Foxbat name is used in remembrance
			of drone technologies, which will be utilized for
			the visualizing and measurement of our <a
				href="/">solar solutions</a
			>. The name itself is derived from an Australian
			bat that is nocturnal and eats fruits.
		</p>
		<h2>Vision</h2>
		<p>
			Khoa's vision for Foxbat Systems is that our
			impact will enable space systems, farms, and
			businesses to become energy efficient and energy
			independent. By engineering modular,
			future-proof solar solutions, we are creating
			trailblazers that will change global energy,
			while staying consumer-centric and
			consumer-focused.
			<!--Khoa's vision for Foxbat Systems is that <a href="/our-solutions">our impact</a> will enable businesses to become energy independent from the Grid. While there will be many challenges and obstacles along our journey ahead, our commitments to sustainability, future-proof engineering, and modular solutions will serve as guides that will help our company stay consumer-centric and consumer-focused.-->
		</p>
		<h3>
			As we look ahead, our company is committed to 5
			major goals:
		</h3>
		<ol>
			<li>
				Enhancing space-grade solar energy
				generation
			</li>
			<li>
				Modernizing and future-proofing energy
				solutions
			</li>
			<li>
				Decentralizing control of energy management
			</li>
			<li>
				Improving CubeSat energy performance and
				mission life
			</li>
			<li>
				Championing consumer choice and access to
				renewable energy
			</li>
		</ol>
		<!--<ol>
<li>Modernizing energy solutions </li>
<li>Improving corporate energy infrastructure</li>
<li>Decentralizing control of energy at localized levels</li>
<li>Championing consumer choice</li>
<li>Enhancing commercial access to renewable energy</li>
</ol>-->
	</div>
</section>
</Layout>