---
import Layout from '@layouts/Default.astro';
let title = 'Our Media';
let description = 'A page listing of Our Media is coming soon!';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="Our Media" href="/our-media">Our Media</a></div>
		</div>
		<h1>Our Media</h1>
		<p>Coming Soon!</p>
	</div>
</section>
</Layout>