---
import Layout from '@layouts/Default.astro';
let title = 'Latest Projects | Foxbat Systems Photo Gallery';
let description = 'Check out the most recent photos and completed projects from Foxbat Systems.';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="Projects" href="/projects">Projects</a></div>
		</div>
		<h1>Recent Projects and Photos by Foxbat Systems</h1>
		<p>Coming soon!</p>
	</div>
</section>
</Layout>