---
import Layout from '@layouts/Default.astro';
let title = 'Sitemap';
let description = 'Sitemap for Foxbat Systems, your local professionals in Houston, TX.';
---
<Layout title={title} description={description}>
<section class="row py-xl-5" id="general">
	<div class="col-xl-9 col-lg-10 col-12 mx-auto p-3 p-lg-5">
		<div id="cms-breadcrumb" class="minimal-breadcrumb d-lg-block d-none">
			<div class="trail"><a title="Home" href="/">Home</a></div>
			<div class="trail"><a title="Sitemap" href="/sitemap">Sitemap</a></div>
		</div>
		<h1>Foxbat Systems Sitemap</h1>
		<div id="main-sitemap-container">
			<ul class="sitemap-list list-group">
				<li class="list-group-item">
					<a href="/articles">Articles</a>
				</li><li class="list-group-item">
					<a href="/contact-us">Contact Us</a>
				</li><li class="list-group-item">
					<a href="/privacy">Privacy Policy</a>
				</li><li class="list-group-item">
					<a href="/projects">Projects</a>
				</li><li class="list-group-item">
					<a href="/reviews">Reviews</a>
				</li><li class="list-group-item">
					<a href="/near-me">Service Areas</a>
				</li><li class="list-group-item">
					<a href="/sitemap">Sitemap</a>
				</li><li class="list-group-item">
					<a href="/terms">Terms of Use</a>
				</li><li class="list-group-item">
					<a
						href="/near-me/austin-tx-solar-solutions"
						>Austin, TX</a
					>
				</li><li class="list-group-item">
					<a
						href="/near-me/dallas-tx-solar-solutions"
						>Dallas, TX</a
					>
				</li><li class="list-group-item">
					<a href="/">Home</a>
				</li><li class="list-group-item">
					<a
						href="/near-me/houston-tx-solar-solutions"
						>Houston, TX</a
					>
				</li><li class="list-group-item">
					<a
						href="/articles/how-grid-failed-texas-businesses"
						>How the Grid has Failed Texas
						Businesses</a
					>
				</li><li class="list-group-item">
					<a href="/our-founder">Our Founder</a>
				</li><li class="list-group-item">
					<a href="/our-impact">Our Impact</a>
				</li><li class="list-group-item">
					<a href="/our-solutions"
						>Our Solutions</a
					>
				</li><li class="list-group-item">
					<a
						href="/near-me/san-antonio-tx-solar-solutions"
						>San Antonio, TX</a
					>
				</li><li class="list-group-item">
					<a
						href="/articles/why-business-choosing-solar-solutions"
						>Why Businesses are Choosing Solar
						Solutions</a
					>
				</li><li class="list-group-item">
					<a href="/our-media">Our Media</a>
				</li><li class="list-group-item">
					<a href="/careers">Careers</a>
				</li><li class="list-group-item">
					<a
						href="/articles/solar-powered-cubesats-are-the-future-of-energy-in-space-and-on-earth"
						>Solar-Powered CubeSats are the
						Future of Energy in Space, and on
						Earth</a
					>
				</li><li class="list-group-item">
					<a
						href="/articles/space-based-solar-powers-impact-on-earths-agriculture-businesses-and-energy-generation"
						>Space-Based Solar Power's Impact on
						Earth's Agriculture, Businesses, and
						Energy Generation</a
					>
				</li><li class="list-group-item">
					<a
						href="/articles/harnessing-the-power-of-the-sun-understanding-foxbat-systems"
						>Harnessing the Power of the Sun:
						Understanding Foxbat Systems</a
					>
				</li>
			</ul>
		</div>
	</div>
</section>
</Layout>