---
---
<footer class="fb-ftr-1">
	<div class="container-fluid mx-auto">
		<div class="row mx-auto p-3 p-md-5 align-items-top">
			<div class="col-lg-3 col-12 align-self-center text-center mx-auto p-3">
				<a href="/">
					<picture>
						<source type="image/webp" srcset="/images/logo-white.webp">
						<img src="/images/logo-white.png" alt="Company Name Logo" width="300">
					</picture>
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-12 text-center text-md-start mx-auto p-3">
				<h4>Contact</h4>
				<div class="contact">
					<p itemprop="legalName">
						Foxbat Systems					</p>
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<p itemprop="streetAddress" class="d-none">
							802 E Richey Road						</p>
						<p>
							<span itemprop="addressLocality">Houston</span>,
							<span itemprop="addressRegion">TX</span>
							<span itemprop="postalCode">77073</span>
						</p>
					</div>
					<p class="mt-3 mb-0">
						Phone: <a href="tel:+1-760-666-0656" itemprop="telephone">760-666-0656</a>
					</p>
					<p class="mb-0">Hours: <strong>9AM CST &ndash; 5PM CST</strong></p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-12 text-center text-md-start mx-auto p-3">
				<h4>Quick Links</h4>
				<div class="quick-links">
					<a href="/articles">Articles</a>
					<a href="/privacy">Privacy Policy</a>
					<a href="/terms">Terms of Use</a>
					<a href="/sitemap">Sitemap</a>
					<a href="/rss/all.xml">RSS Feed</a>
				</div>
			</div>
		<div class="row p-0" style="background-color: rgba(0, 0, 0, 0.1);">
			<div class="col-12 big-wrap text-center text-md-start mx-auto p-3">
				<p class="mb-0">
					©
					2024 
					<span itemprop="name"><a itemprop="url" href="/">Foxbat Systems</a></span>, Rights Reserved
				</p>
			</div>
		</div>
	</div>
</footer>