---
const menuLinks = [
	{ href: '/', label: 'Home' },
	{ href: '/our-solutions', label: 'Our Solutions' },
	{ href: '/our-impact', label: 'Our Impact' },
	{ href: '/our-founder', label: 'Our Founder' },
	{ href: '/contact-us', label: 'Contact Us' }
];
---
<a class="skip-main" href="#content">Skip to main content</a>
<!-- START SMALL NAVIGATION -->
<nav class="d-block d-xl-none container-fluid" id="small-navigation-container-1">
	<div class="row py-1 align-items-center bg-primary" id="small-navigation-top-bar">
		<div class="col">
			<a href="/contact-us" class="btn btn-primary">Contact Us</a>
		</div>
		<div class="col">
			<div class="text-end">
				<a id="small-navigation-menu-opener-1">
					<img alt="Mobile Menu" src="/images/menu_mobile_white.svg" width="36">
				</a>
			</div>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-12 col-md-6 text-center pt-2 bg-tertiary">
			<a href="/">
				<picture>
					<source type="image/webp" srcset="/images/logo-white.webp">
					<img src="/images/logo-white.png" alt="Company Name Logo" width="250">
				</picture>
			</a>
		</div>
	</div>
	<div class="pullout-menu-backdrop position-fixed d-none flex-direction-column justify-content-end">
		<div>
			<div class="menu-heading">
				<span>Menu</span>
			</div>
			<div class="navigation-links">
				{menuLinks.map(link => <div>
					<a href={link.href}>{link.label}</a>
				</div>)}
			</div>
		</div>
	</div>
</nav>
<!-- END SMALL NAVIGATION -->
<!-- START LARGE NAVIGATION -->
<nav class="container-fluid p-0 shadow" id="lg-nav-v2-1">
	<section class="row bigger-wrap align-items-center mx-auto nav-lg">
		<div class="col-12 d-flex justify-content-end align-items-center pe-0 mx-auto bg-primary">
			<div class="me-3">
				<span class="f-prime text-uppercase mb-0 pb-0 h4">
					<a href="tel:+1-760-666-0656" class="call-num">
						760-666-0656					</a>
				</span>
			</div>
			<div class="me-0">
				<a href="/contact-us" class="btn btn-primary btn-rad">
					Contact Us
				</a>
			</div>
		</div>
		<div class="col" id="nav-v2-1-logo-container">
			<a href="/">
				<picture>
					<source type="image/webp" srcset="/images/logo-white.webp">
					<img src="/images/logo-white.png" alt="Foxbat Systems Logo" width="250">
				</picture>
			</a>
		</div>
		<div class="col-9" id="nav-v2-1-contents">
			<div class="row align-items-center" id="nav-v2-1-links">
				{menuLinks.map(link => <div class="col nav-v2-1-link">
						<div class="nav-v2-1-load-line" role="presentation"></div>
						<a href={link.href}>
							<span>{link.label}</span>
						</a>
					</div>)}
			</div>
		</div>
	</section>
</nav>
<!-- END LARGE NAVIGATION -->